@model MvcBlog.Models.ViewModels.AdminCategoriesVM

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Categories";
}

<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Categories</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                    <form method="get">
                        <label class="form-label">Show
                            <select name="pageSize" class="d-inline-block form-select form-select-sm" onchange="this.form.submit()">
                                <option value="5" selected="@(ViewBag.PageSize == 5)">5</option>
                                <option value="10" selected="@(ViewBag.PageSize == 10)">10</option>
                                <option value="15" selected="@(ViewBag.PageSize == 15)">15</option>
                            </select>
                        </label>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div id="dataTable_filter" class="text-md-end dataTables_filter">
                    <label class="form-label">
                        <form asp-action="Categories" method="get">
                            <input type="text" class="form-control form-control-sm" aria-controls="dataTable" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search" />
                            <input type="hidden" value="" class="btn btn-default" />
                        </form>
                    </label>
                </div>
            </div>
        </div>
        <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table id="dataTable" class="table my-0">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Categories" asp-route-sortOrder="@ViewData["IDSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.Categories[0].ID)</a>
                        </th>
                        <th>
                            <a asp-action="Categories" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.Categories[0].Title)</a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-pencil-alt"></i></a> 
                                <a class="btn btn-danger" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing @ViewBag.StartItem to @ViewBag.EndItem of @ViewBag.TotalPages</p>
            </div>
            <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end">
                    <ul class="pagination">
                        <!-- Previous Page Link -->
                        @if (Model.Categories.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@(Model.Categories.PageIndex - 1)">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">«</span>
                            </li>
                        }

                        <!-- Page Number Links -->
                        @for (int i = 1; i <= Model.Categories.TotalPages; i++)
                        {
                            if (i == Model.Categories.PageIndex)
                            {
                                <li class="page-item active">
                                    <span class="page-link">@i</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@i">@i</a>
                                </li>
                            }
                        }

                        <!-- Next Page Link -->
                        @if (Model.Categories.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@(Model.Categories.PageIndex + 1)">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">»</span>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>