@model MvcBlog.Models.ViewModels.PostDetailsVM

@{
    ViewData["Title"] = "Details";
}

@section Head {
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
}

<div class="card w-50 mb-2">
    <div class="card-body">
        <h4 class="card-title">@Html.DisplayFor(model => model.Post.Title)</h4>
        <h6 class="card-subtitle mb-2 text-body-secondary">By @Html.DisplayFor(model => model.Post.Author.UserName), 
            Posted On: @Html.DisplayFor(model => model.Post.CreatedAt)</h6>
        <p class="card-text">@Html.Raw(Model.Post.Body)</p>
    </div>
</div>


<div class="card w-50 mb-2">
    <div class="card-body">
        @if (User.Identity.IsAuthenticated)
        {
            <h4 class="card-title">New Comment</h4>
            <div class="row">
                <div class="col-md">
                    <form asp-action="Details">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Body" class="control-label"></label>
                            <textarea asp-for="Body" class="form-control" id="froala-editor" rows="10"></textarea>
                            <span asp-validation-for="Body" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Post" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <h4 class="card-title">You must log into your account before posting a comment.</h4>
        }
    </div>
</div>


<div class="card w-50 mb-2">
    @if (Model.Post.Comments.Count() > 0)
    {
        @foreach (var item in Model.Post.Comments)
        {
            <div class="card-md border-0 border-bottom">
                <div class="card-body">
                    <h5 class="card-title">By @item.Author.UserName</h5>
                    <h6 class="card-subtitle">on @Html.DisplayFor(modelItem => item.CreatedAt)</h6>
                    <p class="card-text">@Html.Raw(item.Body)</p>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card-body">
            <h5 class="card-text disabled">No comments...</h5>
        </div>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>  
    <script> 
        var editor = new FroalaEditor('textarea#froala-editor');
    </script>
}