@model MvcBlog.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "My Posts";
}

<h1>Index</h1>

<a class="btn btn-primary mb-2" asp-action="Create">Create New</a>

@foreach (var item in Model.Posts)
{
    <div class="card w-50 mb-2">
        <div class="card-body">
            <div class="position-absolute top-0 end-0 me-3 mt-3">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash"></i></a>
            </div>
            <h4 class="card-title">@item.Title</h4>
            <h6 class="card-subtitle mb-2">By @item.Author.UserName,
                Posted On: @Html.DisplayFor(modelItem => item.CreatedAt)</h6>
            <p class="card-text">@Html.Raw(item.Body)</p>
            <a class="btn btn-primary" href="/Posts/Details/@item.ID">Read more</a>
        </div>
    </div>
}

@{
    var prevDisabled = !Model.Posts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Posts.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <!-- Previous Page Link -->
        @if (Model.Posts.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageNumber="@(Model.Posts.PageIndex - 1)">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        }

        <!-- Page Number Links -->
        @for (int i = 1; i <= Model.Posts.TotalPages; i++)
        {
            if (i == Model.Posts.PageIndex)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-pageNumber="@i">@i</a>
                </li>
            }
        }

        <!-- Next Page Link -->
        @if (Model.Posts.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageNumber="@(Model.Posts.PageIndex + 1)">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        }
    </ul>
</nav>